---
import Tailwind from "./icons/Tailwind.astro";
import Nodejs from "./icons/Nodejs.astro";
import React from "./icons/React.astro";
import NextJS from "./icons/NextJS.astro";
import CSS from "./icons/CSS.astro";
import HTML from "./icons/HTML.astro";
import JavaScript from "./icons/JavaScript.astro";
import EJS from "./icons/EJS.astro";
import Electron from "./icons/Electron.astro";
import ExpressJS from "./icons/ExpressJS.astro";
import Bootstrap from "./icons/Bootstrap.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  NODE: {
    name: "Nodejs",
    class: "bg-[#69c754] text-white",
    icon: Nodejs,
  },
  REACT: {
    name: "React",
    class: "bg-[#61dafb] text-black",
    icon: React,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#264de4] text-white",
    icon: CSS,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#e34f26] text-white",
    icon: HTML,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#f7df1e] text-black",
    icon: JavaScript,
  },
  EJS: {
    name: "EJS",
    class: "bg-[#f7df1e] text-black",
    icon: EJS,
  },
  ELECTRON: {
    name: "Electron",
    class: "bg-[#47848f] text-white",
    icon: Electron,
  },
  EXPRESSJS: {
    name: "ExpressJS",
    class: "bg-[#000000] text-white",
    icon: ExpressJS,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-[#8730eb] text-white",
    icon: Bootstrap,
  },
};
const PROJECTS = [
  {
    title: "MyYT_Downloader - Youtube videos downloader",
    description:
      "A personal youtube videos downloader app developed on NodeJS and ElectronJS",
    link: "https://drive.google.com/file/d/10IYTfZKYZA9uV8uWzYLsjdJ5XPVrGY_G/view?usp=drive_link",
    github: "https://github.com/escalandres/myyt-downloader",
    image: "/projects/myyt_downloader.webp",
    tags: [TAGS.NODE, TAGS.BOOTSTRAP, TAGS.ELECTRON],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
        {title}
      </h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
            >
              <tag.icon class="size-2" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        loading="lazy"
        class="rounded shadow-2xl shadow-white/10 aspect-video"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
