---
import Tailwind from "./icons/Tailwind.astro";
import Nodejs from "./icons/Nodejs.astro";
import React from "./icons/React.astro";
import NextJS from "./icons/NextJS.astro";
import CSS from "./icons/CSS.astro";
import HTML from "./icons/HTML.astro";
import JavaScript from "./icons/JavaScript.astro";
import EJS from "./icons/EJS.astro";
import Electron from "./icons/Electron.astro";
import ExpressJS from "./icons/ExpressJS.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import Icon from "./Icon.astro";
import GitHub from "./icons/GitHubIcon.astro";
import Link from "./icons/Link.astro";
import Bulma from "./icons/Bulma.astro";
import StreamChat from "./icons/StreamChat.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  NODE: {
    name: "Nodejs",
    class: "bg-[#07702a] text-white",
    icon: Nodejs,
  },
  REACT: {
    name: "React",
    class: "bg-[#166e7e] text-white",
    icon: React,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#178abb] text-white",
    icon: CSS,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#ac3b1c] text-white",
    icon: HTML,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#bda913] text-black",
    icon: JavaScript,
  },
  EJS: {
    name: "EJS",
    class: "bg-[#f7df1e] text-black",
    icon: EJS,
  },
  ELECTRON: {
    name: "Electron",
    class: "bg-[#47848f] text-white",
    icon: Electron,
  },
  EXPRESSJS: {
    name: "ExpressJS",
    class: "bg-[#000000] text-white",
    icon: ExpressJS,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-[#48009b] text-white",
    icon: Bootstrap,
  },
  BULMA: {
    name: "Bulma",
    class: "bg-[#107c8f] text-white",
    icon: Bulma,
  },
  STREAMCHAT: {
    name: "StreamChat",
    class: "bg-[#004ab1] text-white",
    icon: StreamChat,
  },
};
const PROJECTS = [
  {
    title: "MyYT_Downloader - Youtube videos downloader",
    description:
      "A personal youtube videos downloader app developed on NodeJS and ElectronJS",
    link: "https://drive.google.com/file/d/10IYTfZKYZA9uV8uWzYLsjdJ5XPVrGY_G/view?usp=drive_link",
    github: "https://github.com/escalandres/myyt-downloader",
    image: "/projects/myyt_downloader.webp",
    tags: [TAGS.NODE, TAGS.BOOTSTRAP, TAGS.ELECTRON, TAGS.EXPRESSJS],
  },
  {
    title: "Chat App Project - Personal chat app",
    description:
      "Aplicacion de Chat en tiempo real, inspirada en discord, creada con React, NodeJS, Stream Chat y Bulma",
    link: "https://chat-app-project-ing-web.netlify.app/",
    github: "https://github.com/escalandres/ChatAppProject",
    image: "/projects/chatApp.webp",
    tags: [TAGS.NODE, TAGS.REACT, TAGS.BULMA, TAGS.STREAMCHAT, TAGS.EXPRESSJS],
  },
  {
    title: "PokeApi - Pokemon app",
    description: "Mini aplicación de pokedex creada con la API de pokemon",
    link: "https://escalandres.github.io/LaunchX_JS/",
    github: "https://github.com/escalandres/LaunchX_JS",
    image: "/projects/pokedex.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.CSS, TAGS.HTML],
  },
  {
    title: "Vaccination - A landing page for vaccination centers",
    description: "Landing page de un sitio de vacunación",
    link: "https://escalandres.github.io/LaunchX_CSS/",
    github: "https://github.com/escalandres/LaunchX_CSS",
    image: "/projects/vaccine.webp",
    tags: [TAGS.CSS, TAGS.HTML],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="mb-8">
      <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
        {title}
      </h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-4">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        loading="lazy"
        class="rounded shadow-2xl shadow-white/10 aspect-video"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
      <nav class="flex gap-4 mt-4 flex-wrap">
        <Icon href={github}>
          <GitHub class="size-4 md:size-6" /> Repositorio
        </Icon>
        <Icon href={link}>
          <Link class="size-4 md:size-6" /> Link
        </Icon>
      </nav>
    </article>
  ))
}
